@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-red: #DC3635;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-cream: #FFECEC;
}

/* global properties */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: var(--color-black);
    padding: 20px;
    color: var(--color-cream);
    background-image: url("./assets/samuel-scalzo-xyuYk9oLA8I-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

h2 {
    font-size: 55px;
}

nav ul {
    display: flex;
    gap: 2rem;
    font-size: 24px;
}

li {
    list-style: none;
    color: var(--color-white);
}

p {
    text-align: justify;
}

input,
button,
a {
    font-size: inherit;
    font-family: inherit;
}

input[name="email"] {
    width: 600px;
    padding: 12px;
    color: var(--color-black);
    font-size: 20px;
    border-radius: 5px;
}

section [name*="description"] {
    font-size: 24px;
    text-align: center;
}

/* class */

.text-size--medium {
    font-size: 32px;
}

.btn {
    display: inline-block;
    width: 189px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    background-color: var(--color-red);
    padding: 16px;
    color: var(--color-white);
    border: none;
    border-radius: 2px;
}

.btn--light {
    background-color: var(--color-cream);
    color: var(--color-black);
}

.btn--flat {
    border-radius: 0;
}

header,
main>section {
    max-width: 1400px;
    margin-inline: auto;
}

header {
    margin-top: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-inline: auto;
}

header [name="creator"] {
    flex-grow: 1;
    font-size: 28px;
    font-size: 38px;
}

header [name="creator"]::first-letter {
    color: var(--color-red);
    font-weight: bolder;
}

header li a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

/* styling sections */

section[name="hero"] {
    margin-top: 14rem;
    display: flex;
    align-items: center;
    background-size: cover;
    margin-bottom: 26vh;
}

section[name="hero_intro"] {
    max-width: 85ch;
}

section[name="hero_intro"] [name="creator"] {
    font-size: 96px;
    font-weight: 500;
    color: var(--color-red);
}

section[name="hero_intro"] [name="occupation"] {
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2rem;
}

section[name="hero_intro"] [name^="link"] {
    align-self: start;
}

section[name="hero_intro"] [name^="link"]:not(:first-child) {
    margin-left: 30px;
}

section[name="hero_intro"] [name="creator-description"] {
    font-size: 20px;
    margin-bottom: 3.2rem;
    text-align: justify;
    line-height: 1.5;
}

section[name="about-me"] {
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
}

section[name="services"] {
    max-width: 1400px;
    display: grid;
    place-content: center;
    margin-bottom: 14vh;
}

section[name="services"] [name="service_list"] {
    display: flex;
    gap: 20px;
}

section[name="services"]> :first-child {
    text-align: center;
}


section[name="service-catalog"] {
    margin-top: 5rem;
    --gap: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 60px 20px;
}

article[name="card"] {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color-cream);
    color: var(--color-black);
    flex-basis: calc((100% / 3) - var(--gap));
}

article[name="card"] h3[name="catalog-heading"] {
    font-size: 28px;
    margin-block: 1em;
}

article[name="card"] [name="catalog-description"] {
    font-size: 16px;
}

section[name="contact"] h2[name="heading-2"] {
    text-align: center;
    margin-bottom: 2rem;
}

section[name="contact"] section[name="action"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section[name="social-network"] {
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section[name="social-network"] [name="heading-3"] {
    margin-bottom: 3rem;
}

section[name="contact"] [name="heading-3"]::first-letter{
    color: var(--color-red);
}

section[name="social-links"] {
    margin-top: 4rem;

}

section[name="projects"]{
    height: 80vh;
}

section[name="projects"] [name="projects-catalog-description"] {
    text-align: center;
    max-width: 100ch;
    margin-inline: auto;
}

section[name="projects"] [name="heading-2"] {
    text-align: center;
}


footer {
    background-color: var(--color-red);
    height: 100px;
}
